body {
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
	font-weight: 100 !important;
}


.navbar-brand {
	letter-spacing: 0.5rem;
	font-weight: 200 !important;
	margin-left: 2rem;
}

.nav-item {
	margin: 0 1rem;
}

.jumbotron {
    padding-top: 9rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff !important;
}

.text-center {
    text-align: center!important;
}

#CV {
    font-size: 1.5rem;
}

.lead {
   font-size: 20px;
}

.circle {
	border-radius: 50%;
}

.rest {
	background-color: #f8f9fa!important;
}

.card {
	margin: 2rem 0.5rem;
}

.rest h1 {
	padding-top: 6rem;
}

.social a {
	font-size: 4.5rem;
	padding: 3rem;
}

.fa-linkedin {
	color: #0077B5;
}

.fa-linkedin:hover {
	color: #006091;
} 

.fa-github-square {
	color: #6cc644;
}

.fa-github-square:hover {
	color: #569e36;
}

.fa-envelope {
	color: #fc4949;
}

.fa-envelope:hover  {
	color: #b32525;
}

hr {
	width: 98%;
}

footer {
	color: gray;
}

footer a {
	color: gray;
}
