body, html {
	font-family: 'Lato', sans-serif !important;
	color: black;
    overflow-x: hidden;
}

/* General */

.padding-left {
	padding-left: 50px;
}

.padding-down {
	padding-bottom: 50px;
}

.padding-top {
	padding-top: 50px;
}

.sm-padding-top {
	padding-top: 20px;
}

.sm-padding-down {
	padding-bottom: 20px;
}

/* Navbar */

.navbar-brand {
	font-family: 'Merriweather', serif !important;
	font-size: 30px !important;
	font-weight: 900;
	color: white !important;
	letter-spacing: 3px;
}

.nav-link {
	font-family: 'Lato', sans-serif !important; 
	color: #fff !important;
	margin: 0 20px;
}

.nav-link:hover {
	font-family: 'Lato', sans-serif !important; 
	color: #000 !important;
}

/* Home */

#home {
	margin: 50px auto;
}

.btn {
	margin: 20px 0;
	text-align: center;
}

h1 {
	font-family: 'Merriweather', serif !important;
	font-size: 60px !important;
	font-weight: 900;
	color: black !important;
	text-align: center;
}

#home p {
	text-align: center;
	width: 80%;
}

.circle {
	border-radius: 50%;
}

/* Header */

.header {
	margin: 0 auto;
	font-size: 50px !important;
}

/* Cards */

.text-center {
	text-align: center;
}

.card-title {
	font-family: 'Merriweather', serif !important;
	font-size: 30px !important;
}

.card {
	margin: 20px 0;
}

/* Social */

.social a {
	font-size: 4.5rem;
	padding: 3rem;
}

.fab {
	font-size: 50px;
}

.fa-linkedin {
	color: #0077B5;
}

.fa-github-square {
	color: #6cc644;
}

.fa-instagram {
	color: #517fa8;
}

.fa-linkedin:hover {
	color: #006091;
} 

.fa-github-square:hover {
	color: #569e36;
}

.fa-instagram:hover {
	color: #3e6385;
}

/* Footer */

footer {
	background-color: #cccccc;
	color: #2E2E2E;
}

.footer-header {
	font-family: 'Merriweather', serif;
	font-size: 30px;
	font-weight: 900;
}
