@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom properties */
:root {
    --fw-reg: 300;
    --fw-bold: 900;

    --clr-accent: #ff59ac;

    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 650px) {
    :root {
        --fs-h1: 3.75rem;
        --fs-h2: 2rem;
        --fs-h3: 1.4rem;
        --fs-body: 1.125rem;
    }
}

@media (min-width: 1000px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 2.5rem;
        --fs-h3: 1.5rem;
    }
}

/* Typography and General Styling */
body {
    font-family: 'Source Sans Pro', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    color: black;
}

btn {
    display: block;
    padding: 5px 20px;
    border-radius: 10px;
    font-size: 1rem;
    background: #ff59ac;
    font-weight: var(--fw-bold);
    width: 250px;
    margin: 20px auto;
}

.btn {
    text-align: center;
    color: black;
}

btn:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

img {
    -webkit-box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
}

h1, h3, p {
    margin: 0;
    font-weight: var(--fw-reg);
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
}

h3 {
    font-size: var(--fs-h3);
}

p {
    font-size: var(--fs-body);
}

strong {
    display: block;
    font-weight: var(--fw-bold);
}

/* Welcome section */
.welcome {
    position: relative;
    margin: 50px;
}

.image_wrapper {
    text-align: center;
    width: 100%;
}

.welcome_image {
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 50%;
    width: 75%;
    max-width: 250px;
}

.welcome_text {
    margin: 20px 20px;
}

.welcome_subtitle {
    padding: 0 10px;
    background-color: var(--clr-accent);
}

@media (min-width: 650px) {
    .welcome {
        display: grid;
        width: min-content;
        margin: 10em auto;
        grid-template-areas:
			"img text";
        grid-template-columns: min-content max-content;
        grid-column-gap: 1em;
    }

    .welcome_text {
        grid-area: text;
    }

    .welcome_image {
        width: 250px;
        grid-area: img;
    }
}

@media (min-width: 1000px) {
    .welcome_image {
        width: 300px;
        max-width: 300px;
    }
}

/* About section */
.about {
    margin: 0 !important;
    width: 100%;
    line-height: 1.6;
    background: linear-gradient(rgba(255, 255, 255, .75), rgba(255, 255, 255, .75)), url("img/coding.jpg");
    padding: 5em 0;
}

.about_subtitle {
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: var(--clr-accent);
}

.about_body {
    margin: 50px;
    text-align: left;
}

#resume {
    font-size: var(--fs-h3);
}

.about_image {
    width: 80%;
    max-width: 350px;
    margin: 20px 0;
}

@media (min-width: 1200px) {
    .about_body {
        margin: 0 auto;
        width: 80%;
        max-width: 1200px;
        display: grid;
        grid-template-areas:
            "header header"
			"text img";
        grid-column-gap: 3em;
    }

    .about_header {
        grid-area: header;
    }

    .about_image {
        width: 350px;
    }
}

/* Skills section */
.skills {
    margin: 0 !important;
    width: 100%;
    line-height: 1.6;
    padding: 5em 0 0 0;
}

.skills_body {
    margin: 50px;
    text-align: left;
}

.skill_title {
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: var(--clr-accent);
}

.skill {
    margin-bottom: 50px;
}

@media (min-width: 1000px) {
    .skills_body {
        margin: 0 auto;
        width: 80%;
        max-width: 1200px;
        display: grid;
        grid-template-areas:
            "header header header"
			"skill skill skill";
        grid-column-gap: 3em;
    }

    .skills_header {
        grid-area: header;
    }

    .skill {
        width: 100%;
    }
}

/* Projects section*/
.projects {
    margin: 0 !important;
    width: 100%;
    line-height: 1.6;
    background: linear-gradient(rgba(255, 255, 255, .75), rgba(255, 255, 255, .75)), url("img/projects.jpg");
    padding: 5em 0;
}

.projects_body {
    margin: 50px;
    text-align: left;
}

.project_card {
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 50px 0;
    -webkit-box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 40px -9px rgba(0,0,0,0.75);
}

.project_title {
    margin: 0;
}

.project_subtitle {
    padding: 0 10px;
    margin-bottom: 20px;
    background-color: var(--clr-accent);
    max-width: 500px;
}

.project_image {
    width: 80%;
    max-width: 350px;
    margin: 20px 0;
}

.project_image_under {
    width: 80%;
    margin: 20px 0;
}

@media (min-width: 1000px) {
    .projects_body {
        margin: 0 auto;
        width: 80%;
        max-width: 1200px;
    }

    .project_body {
        display: grid;
        grid-template-areas:
            "text image";
        grid-column-gap: 3em;
    }
}

/* Contact section */
.contact {
    margin: 3rem;
}

.fab, .far {
    font-size: var(--fs-h1);
    color: var(--clr-accent);
    margin: 0 20px;
}

.fab:hover, .far:hover {
    transform: scale(1.1);
}

.contact_element {
    text-align: center;
}