/* General styling*/
body {
	font-family: 'Heebo', sans-serif;
	overflow-x: hidden;
}

h1 {
	font-size: calc(30px + 2vw);
	font-weight: 900;
}

h3 {
	font-size: calc(12px + 0.3vw);
	font-weight: 300;
}

.text-center {
	text-align: center;
}

.window {
	padding-top: 75px;
	height: 100vh;
	display: table;
}

.center {
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
}

.card {
	width: 80%;
	margin: 25px auto;
}

.card-title {
	font-family: 'Heebo', sans-serif !important;
	font-weight: 700 !important;
}

.card-text {
	font-family: 'Heebo', sans-serif !important;
	font-weight: 300 !important;
}

/* Nav Styling */
#nav {
	background-color: black !important;
	border: none;
	text-align: center;
}

.nav-link {
	font-family: 'Heebo', sans-serif !important;
	font-weight: 700 !important;
	color: #c9c9c9 !important;
	margin: 0 25px;
}

/* Home styling */
#home {
	padding-top: 100px;
	height: 100vh;
	display: table;
}

.welcome {
	width: 100vw;
	display: table-cell;
	vertical-align: middle;
}

#home h1 {
	font-size: calc(80px + 4vw);
}

#home h3 {
	font-size: calc(20px + 1vw);
	font-weight: 400;
}

/* About Styling */
#cv {
	margin: 25px 0 25px 0;
	padding: 0 50px;
	font-size: calc(25px + 0.5vw) !important;
	font-weight: 700;
}

/* Image Styling */
.circle {
	border-radius: 50%;
	width: 20vw;
	margin-bottom: 25px;
}

#bayonne {
	width: 80%;
}