.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome_card {
    display: block;
    text-align: center;
    margin: 14vh 0;
    max-width: 1000px;
}

.welcome_title {
    font-weight: 300;
    font-size: 3rem;
    margin: 20px;
}

strong {
    display: block;
    font-weight: 900;
}

.welcome_img {
    border-radius: 50%;
    width: 40%;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

@media (min-width: 1000px) {
    .welcome_card {
        width: 35%;
        display: block;
        box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    .welcome_img {
        width: 80%;
    }
}

@media (min-width: 1400px) {
    .welcome_title {
        font-weight: 300;
        font-size: 4.5rem;
        margin: 20px;
    }
}