.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_card {
    display: block;
    text-align: center;
    margin: 14vh 0;
    max-width: 1400px;
}

.about_title {
    font-weight: 900;
    font-size: 3rem;
    margin: 20px;
}

.about_subtitle {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
}

.about_subtitle::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    margin: 1em auto 1em;
    background: #ff59ac;
    opacity: 0.5;
}

.about_body {
    width: 80%;
    margin: 20px auto;
    text-align: left;
}

.about_image_wrapper {
    text-align: center;
}

.about_image {
    width: 60%;
    margin: 20px auto;
}


@media (min-width: 1000px) {
    .about_card {
        width: 80%;
        display: block;
        box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
}

@media (min-width: 1400px) {
    .about_title {
        font-size: 4.5rem;
    }

    .about_subtitle {
        font-size: 1.7rem;
    }
}

@media (min-width: 1750px) {
    .about_text {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    .about_image_wrapper {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
}